.comment{
    background-color: #1C2942;
    color: white;
    padding: 20px;
    border-color: black;
    border-width: 2px;
    border-radius: 6px;
}
img{
    vertical-align: top;
}

.personnage{
    height: 200px;
    border-radius: 200px;
}