.comment{
    background-color: #1C2942;
    color: white;
    padding: 20px;
    border-color: black;
    border-width: 2px;
    border-radius: 6px;
}


.description{
    float: right;
    background-color: #0B162C;
    border : 2px solid black;
    padding: 10px;
    margin: 20px;
}

.legend{
    clear: both center;
}

.personnage{
    height: 150px;
    border-radius: 100px;
    display: inline;
}