/*CSS corrrespondant aux parties du site sur les animés, se trouvant dans le dossier Anime */
.comment{ /* Représente les commentaires de la communauté*/
    background-color: #172542;
    color: white;
    padding: 20px;
    border-color: black;
    border-width: 2px;
    border-radius: 6px;
}


.description { /* Représente les informations essentielles sur un animé, mises sur la gauche*/
    width:12vw;
    display: flex; 
    flex-flow: column wrap; 
    flex-wrap:wrap;
    float:left; 
    background-color: #0B162C;
    border : 2px solid black;
    padding: 10px;
    margin: 20px;

}

.img{
    width:200px;
}

.information{
    width: 88vw;
    float : right;
}

.parent{
    display:flex;


}

footer{
    display:flex;
    flex-wrap:wrap;
    justify-content: center;
    align-items: flex-end;
}

.personnage{ 
    height: 150px;
    border-radius: 100px;
    display: inline;
    margin: 10px;
}