body{
    background-color: transparent;
    background-image: url(IMG/bleu.avif);
    background-size: cover;
    color:#ba84f3;
}


nav{
    background-color: transparent;
}

.img{
    width:200px;
    padding : 20px;
}

.logo{
    width:50px;
}

footer{
    background-color: transparent;
    background-image: url(IMG/bleu.avif);
    background-size: cover;
    border: 2px solid black;
    text-align: center;
}

ul{
    text-align: right;
}


ul li{
    display:inline-flex;
    padding:20px;
    font-family: 'Verdana';
    font-size:30px;
}

section{
    background-color: transparent;
    background-image: url(IMG/bleu.avif);
    background-size: cover;
    border: 2px solid black;
    margin:50px;
    padding:10px;
}

h1{
    margin : 5px;
    width:100vw;
}



header{
    border:2px solid black;
    background-image: url(IMG/bleu.avif);
    background-size: cover;
    padding:20px;
    margin:50px;
    display:flex;
    word-spacing: 5px;
    flex-wrap:wrap;
}

a:visited{
    text-decoration: none;
    color:#ba84f3;
}
  

a{
    text-decoration: none; 
} 

a:hover {
    text-decoration: none;
  }



